/* src/components/Login.css */
.login-container {
  position: relative;
}

.marquee-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
